#titulo{
    color: rgb(0, 81, 255);
    border-style: solid;
    border-color: rgb(6, 116, 180);
    border-radius: 3px;
    border-width: 3px;
    display: inline;
}

.bannertop{
    /* text-align: center;
    align-items: center; */
    background-image: url('https://archetypeconsulting.com/assets/headers/blog_pm/ARC_blog_headers_PM_10.jpg');
    border-radius: 5px;
    background-size: cover;
    font-family: sans-serif;
}

.imagenderecha {
    float: right;
    position: relative;
    left: 0;
}

p.extract{
    color: slateblue;
    background-color: rgba(0, 89, 255, 0.356);
    border-radius: 3px;
}

h2.subtitulo{
    color: rgb(9, 96, 235);
    font-family: sans-serif;
}

h2.titulos{
    color: rgb(34, 34, 209);
    font-family: sans-serif;
    text-decoration: overline;
}

h4.cargo{
    color: rgb(189, 48, 33);
    margin-top: 8px;
    text-decoration: overline;
}

body{
    background-color: powderblue;
}

img{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}

a:link{
    color: blue;
}

a:visited{
    color: rgb(42, 62, 240);
}

a:hover{
    color: green;
}

a:active{
    color: red;
}

ul{
    color: rgb(0, 53, 122);
    background-color: rgb(90, 195, 236);
    border-radius: 8px;
}

.foot {
    color: rgba(1, 141, 64, 0.829);
    text-decoration: underline;
}

.container{
    height: 200px;
}