#titulo{
    color:#2215d8;
    border-style: solid;
    border-color: rgb(0, 162, 255);
    border-radius: 3px;
    border-width: 3px;
    display: inline;
}

.bannertop{
    /* text-align: center;
    align-items: center; */
    background-image: url('https://archetypeconsulting.com/assets/headers/blog_pm/ARC_blog_headers_PM_10.jpg');
    border-radius: 5px;
    background-size: cover;
    font-family: sans-serif;
}

.imagenderecha {
    float: right;
    position: relative;
    left: 0;
}

p.extract{
    color: slateblue;
    background-color: rgba(0,0,0,0.3);
    /* opacity: 0.3; */
}

h2.subtitulo{
    color: rgb(9, 96, 235);
    font-family: sans-serif;
}

h2.titulos{
    color: blue;
    font-family: sans-serif;
    text-decoration: overline;
}

h4.cargo{
    color: rgb(211, 37, 18);
    margin-top: 8px;
    text-decoration: overline;
}

body{
    background-color: powderblue;
}

img{
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}

a:link{
    color: blue;
}

a:visited{
    color: rgb(0, 26, 255);
}

a:hover{
    color: green;
}

a:active{
    color: red;
}

ul{
    background-color: cyan;
}